div {
    width: 400px;
    height: 200px;
    background-color: blueviolet;
    margin-top: 20px;
}
.red {
    background-color: aquamarine;
    width: 600px;
    height: 800px;
    margin-top: 50px;
    border: 8px solid rgb(48, 65, 111);
}
.blue {
    background-color: darkmagenta;
    width: 500px;
    height: 100px;
    margin-top: 70px;
    border: 5px solid green;
}
.green {
    width: 650px;
    height: 900px;
    background-color: lightcoral;
    margin-top: 40px;
    border: 14px solid whitesmoke;
}
.red img {
    width: 600px;
    height: 800px;


}
.blue img {
    width: 500px;
    height: 100px;
}
.red p {
    color: rgb(224, 35, 238);
    font-size: 40px;
}
.blue p {
    color: lightslategrey;
}